body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    position: relative;
    color: #000; /* 텍스트 색상을 검정색으로 변경 */
    padding: 1rem;
    text-align: center;
    height: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column; /* 텍스트와 네비게이션을 수직으로 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/static/header-bg.png');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}

header h1 {
    font-size: 3rem;
    margin: 0.5rem 0;
}

nav {
    margin: 2rem 0;
}

nav a {
    color: #000;
    text-decoration: none;
    margin: 0 1rem;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

section {
    padding: 2rem 0;
}

section#about h1 {
    text-align: center; /* ABOUT 텍스트 중앙 정렬 */
    font-size: 3rem;
}

section .about-content {
    display: flex;
    justify-content: center; /* 텍스트와 이미지를 중앙에 배치 */
    align-items: flex-start; /* 텍스트와 이미지 상단 정렬 */
    width: 80%; /* 컨텐츠 전체 너비를 줄여서 중앙에 배치 */
    margin: 0 auto; /* 전체 영역을 중앙에 정렬 */
    gap: 40px; /* 텍스트와 이미지 사이의 간격 설정 */
}

section .projects-content {
    display: flex;
    justify-content: flex-start; /* 텍스트와 이미지를 왼쪽에 배치 */
    align-items: flex-start;
    width: 100%;
    margin: 0 20%;
}

section .text-content {
    width: 40%; /* 텍스트 그룹의 너비 설정 */
}

section#about .text-content p {
    margin: 10px 0; /* 각 p 태그의 상하 여백 */
}

section#about img {
    width: 30%; /* 이미지를 적절한 크기로 설정 */
    height: auto;
    object-fit: cover;
    margin-top: 7rem;
}

.skills {
    word-spacing: 7ch; /* 각 단어 사이에 3문자 간격 */
}

.text-content h2 {
    margin-top: 5rem; /* h2 태그의 위쪽 여백 */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
}
